<h1>Bienvenido: {{user.first_name}} {{user.last_name}}</h1>

<p>Email: {{user.email}}</p>
{{#if user.isAdmin}}
    <p>Rol: Administrator</p>
{{else}}
    <p>Rol: User</p>
{{/if}}

<a href="/api/session/logout">Logout</a>